@font-face {
   font-family: 'Frutiger Black Condensed';
   src: url('fonts/frutiger_77_black_condensed.woff2') format('woff2'),
         url('fonts/frutiger_77_black_condensed.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

.credits{
   font-family:Arial, sans-serif;
   font-size:0.9em;
}
.credits a{
   color: blue;
}
.poster{position:absolute; left:10vh; top:10vh; height:80vh; width:auto; z-index:50;}
.poster_panel{width:auto; height:100%;}

.editor{
   position:absolute;
   right:3vh;
   top:3vh;
   font-family:Arial, sans-serif;
   max-width: 300px;       
   z-index:100;
   background: rgb(53,145,200);
   background: linear-gradient(327deg, rgb(99,99,99) 0%, rgb(22,22,22) 100%); 
   padding: 10px;
   border-radius: 20px;
}
.editor form{display:flex; flex-direction: column;}
.editor form > div:not(:last-of-type){display:flex; margin-bottom:6px;}
.editor form > div:last-of-type{justify-content:end;}
.editor label, .editor input{
   font-size:1.2em;
   padding: 0.4em 0.5em;
   height: auto;
}
.editor label{color:white; margin-right:2px;}
.editor input{width:250px; border:none; background:white; color:#000;}
.editor input[type=submit]{position:relative; right:0;}
.editor input[type=submit]:hover{background:#333; color:#fff}

.editor form > div:first-of-type label{border-top-left-radius: 10px;}
.editor form > div:first-of-type input{border-top-right-radius: 10px;}
.editor form > div:last-of-type input{width:100%; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;}

@media (max-width:700px) {
   .credits{text-align: center;}
   .poster{margin:1em auto; width:95%; position:relative; left:auto; top:auto;}
   .poster_panel{position: relative; width:100%; height:auto;}
   .editor{position: relative; right: auto; top: auto; margin: 1em auto;;}
 }