@font-face {
   font-family: 'Frutiger Black Condensed';
   src: url('fonts/frutiger_77_black_condensed.woff2') format('woff2'),
         url('fonts/frutiger_77_black_condensed.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

.poster_panel{position:absolute; left:3vh; top:3vh; height:94vh; width:auto; z-index:50;}

.editor{
   position:absolute;
   right:3vh;
   top:3vh;
   font-family:Arial, sans-serif;
   max-width: 300px;       
   z-index:100;
   background: rgb(53,145,200);
   background: linear-gradient(327deg, rgba(53,145,200,1) 0%, rgba(0,212,255,1) 100%); 
   padding: 10px;
   border-radius: 20px;
}
.editor form{display:flex; flex-direction: column;}
.editor form > div{display:flex; margin-bottom:3px;}
.editor form > div:last-of-type{justify-content:end;}
.editor label, .editor input{
   font-size:1.2em;
   padding: 0.4em 0.5em;
}
.editor label{color:black; margin-right:2px; background:white;}
.editor input{width:250px; border:none; background:white; color:#000;}
.editor input[type=submit]{position:relative; right:0;}
.editor input[type=submit]:hover{background:#333; color:#fff}

.editor form > div:first-of-type label{border-top-left-radius: 10px;}
.editor form > div:first-of-type input{border-top-right-radius: 10px;}
.editor form > div:last-of-type input{width:100%; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;}